
<div class="navbar">

  <div class="navbar-header">
    <span class="create-btn">CREATE QUIZ</span>
  </div>

  <ul class="all-quizzes">
    <!-- links to quizzes go here -->
  </ul>

</div> <!-- navbar -->


<div class="main-body">

  Hello! What would you like to do?<br>

</div>